.headerContainer{
    max-width: 1440px;
    height: 80px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoContainer{
   display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.logoContainer img{
    width: 31px;
    height: 29px;
}